<div class="categories-nav">
  <a href="">
    ВСЕ КАТЕГОРИИ
    <div class="all-categories">
      <a href="">ТЕЛЕФОНЫ И ГАДЖЕТЫ <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">БЫТОВАЯ ТЕХНИКА<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">ТВ, АУДИО, ВИДЕО<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">КОМПЬЮТЕРЫ<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">МЕБЕЛЬ<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">ПРОДУКТЫ ПИТАНИЯ<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">ДЕТСКИЕ ТОВАРЫ<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>

  <a href="">
    ТЕЛЕФОНЫ И ГАДЖЕТЫ
    <div class="all-categories">
      <a href="">IPHONE <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">SAMSUNG<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">NOKIA<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">XIAOMI<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">HUAWEI<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">LG<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>

  <a href="">
    БЫТОВАЯ ТЕХНИКА
    <div class="all-categories">
      <a href="">кондиционеры <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">сушилки для белья<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">сушильные шкафы<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">морозильные камеры<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">винные шкафы<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">кухонные плиты<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">холодильники<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
  <a href="">
    ТВ, АУДИО, ВИДЕО
    <div class="all-categories">
      <a href="">наушники <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">аудиотехника<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">видеотехника<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">телевизоры<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">гарнитуры<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
  <a href="">
    КОМПЬЮТЕРЫ
    <div class="all-categories">
      <a href="">настольные пк <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">ноутбуки<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">аксессуары<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">комплектующие<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
  <a href="">
    МЕБЕЛЬ
    <div class="all-categories">
      <a href="">спальня <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">кухня<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">гостиная<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">прихожая<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">детская комната<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">офис и кабинет<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">ванная комната<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
  <a href="">
    ПРОДУКТЫ ПИТАНИЯ
    <div class="all-categories">
      <a href="">молочные продукты <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">сладости и выпечка<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">овощи и фрукты<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">крупы, хлопья<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">масла, соусы<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">консервация<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">колбасы, сосиски<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
  <a href="">
    ДЕТСКИЕ ТОВАРЫ
    <div class="all-categories">
      <a href="">для малыша и мамы <img src="./assets/media/icons/right-arrow.svg" alt=""></a>
      <a href="">игрушки<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">деткое питание<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
      <a href="">игровая площадка<img src="./assets/media/icons/right-arrow.svg" alt=""> </a>
    </div>
  </a>
</div>


