<app-header></app-header>
<app-categories-nav></app-categories-nav>
<div class="category-detail">

  <div class="category-detail-left">
    <div class="all-category-in-category-detail" >
      <h2>Все категории</h2>
      <div class="all-category-in-category-detail-div">
        <a class="currentCategory" [ngStyle]="{'color': category.name === currentCategory.name ? 'black' : '##00A2DC',
                                  'marginBottom' : category.name === currentCategory.name ? '18px' : '3px'}
                        " href="" *ngFor="let category of categories">
          <a class="currentSubCategory" *ngIf="category.name === currentCategory.name" style="margin: 45px 0 5px 15px">
            <img style='filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(17%) contrast(102%); width: 8px; margin-right: 5px' src="../../../assets/media/icons/rounded-arrow.png" alt="">
            <span>{{currentSubCategory.name | titlecase}}</span>
          </a>
          <img [ngStyle]="{'width': category.name === currentCategory.name ? '8px' : '8px',
                          'filter': category.name === currentCategory.name ? 'invert(0%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(17%) contrast(102%)' : '##normal',
                                  'marginLeft' : category.name === currentCategory.name ? '10px' : '3px'}"
                            src="../../../assets/media/icons/rounded-arrow.png" alt=""> {{category.name | lowercase}}
        </a>

      </div>

    </div>
    <div class="filter-by-price-in-category-detail" *ngIf="isCustomer">
      <h2>Цена</h2>
      <div>
        <input (change)="FilterByPrice(0, 10000, $event)" type="checkbox" name="" id="price100000">
        <span>до 10 000т</span>
      </div>
      <div>
        <input (click)="FilterByPrice(10000, 49999, $event)" type="checkbox" name="" id="price100000-49999">
        <span>10 000 - 49 999т</span>
      </div>
      <div>
        <input (click)="FilterByPrice(50000, 99999, $event)" type="checkbox" name="" id="price50000-99999">
        <span>50 000 - 99 999т</span>
      </div>
      <div>
        <input (click)="FilterByPrice(100000, 199999, $event)" type="checkbox" name="" id="price1000000-199999">
        <span>100 000 - 199 999т</span>
      </div>
      <div>
        <input (click)="FilterByPrice(200000, 10000000, $event)" type="checkbox" name="" id="price200000">
        <span>более 200 000т</span>
      </div>
    </div>
    <div class="filter-by-sellers-in-category-detail" *ngIf="isCustomer">
      <h2>Продавцы</h2>
      <div *ngFor="let sh of shops">
        <input type="checkbox" (click)="FilterByShops(sh.id, $event)" name="" id="seller1">
        <span>{{sh.name}}</span>
      </div>

    </div>
    <div class="filter-by-rating-in-category-detail" *ngIf="isCustomer">
      <h2>Рейтинг</h2>
      <div>
        <input type="checkbox" name="" id="rate2">
        <span><ngb-rating [max]="5" [(rate)]="r4" [readonly]="true"></ngb-rating> и выше</span>
      </div>
      <div>
        <input type="checkbox" name="" id="rate3">
        <span><ngb-rating [max]="5" [(rate)]="r3" [readonly]="true"></ngb-rating> и выше</span>
      </div>
      <div>
        <input type="checkbox" name="" id="rate4">
        <span><ngb-rating [max]="5" [(rate)]="r2" [readonly]="true"></ngb-rating> и выше</span>
      </div>
      <div>
        <input type="checkbox" name="" id="rate5">
        <span><ngb-rating [max]="5" [(rate)]="r1" [readonly]="true"></ngb-rating> и выше</span>
      </div>
    </div>
  </div>
  <div class="category-detail-right">
    <h2>1Market Магазин <img src="../../../assets/media/icons/right-arrow2.svg" alt=""> <span>{{currentCategory.name | titlecase}}</span></h2>
    <div>
      <app-product-list-in-category-detail [products] = "products">

      </app-product-list-in-category-detail>
    </div>
  </div>

</div>
