ngb-rating {
  color: #FFC107;
  font-size: 16px;
}

.category-detail{
  display: flex;
  padding: 30px 15%;
  gap: 30px;
  box-sizing: border-box;
}
.category-detail-left{
  width: 20%;
  box-sizing: border-box;
}
.all-category-in-category-detail{
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.all-category-in-category-detail-div{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.all-category-in-category-detail h2{
  color: #00A2DC;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.all-category-in-category-detail > div > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 0px;
  text-transform: capitalize;
  color: #00A2DC;
  font-size: 14px;
  font-weight: 500;
  transition: .4s;
}
.currentCategory > img{
  z-index: -1;
}
.currentSubCategory{
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  color: black;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box;
  padding: 3px;
  position: absolute;
  z-index: -1;
}

.all-category-in-category-detail div a:hover{
  color: black;
}

.all-category-in-category-detail div a::first-letter (:first-letter){
  text-transform: lowercase;
}

.all-category-in-category-detail div img{
  width: 18px;
  margin-right: 10px;
}
.currentSubCategory > img{
  width: 3%;
  margin-right: 5px;
  z-index: -1;
}
.filter-by-price-in-category-detail, .filter-by-sellers-in-category-detail, .filter-by-rating-in-category-detail{
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
}
.filter-by-price-in-category-detail h2, .filter-by-sellers-in-category-detail h2, .filter-by-rating-in-category-detail h2{
  font-weight: 500;
  font-size: 15px;
}
.filter-by-price-in-category-detail div, .filter-by-sellers-in-category-detail div, .filter-by-rating-in-category-detail div{
  display: flex;
  gap: 8px;
  align-items: center;
}

.category-detail-right{
  width: 80%;
}

.category-detail-right h2{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #00A2DC;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.category-detail-right h2 img{
  width: 20px;
  margin: 0 10px;

}
.category-detail-right h2 span{
  font-weight: normal;
  color: #999999;
}
