<div class="category-detail-left">
  <div class="all-category-in-category-detail">
    a
  </div>
  <div class="filter-by-price-in-category-detail">

  </div>
  <div class="filter-by-sellers-in-category-detail">

  </div>
  <div class="filter-by-rating-in-category-detail">

  </div>
</div>
<div class="category-detail-right">
  <h2>1Market Магазин <img src="assets/media/icons/right-arrow.svg" alt=""> {{category.name}}</h2>
  <div>
    <div class="item-detail" *ngFor="let product of products">
<!--      <img src="{{product.main_image}}" alt="">-->
      <img src="assets/media/images/Products/Iphone14ProMax256GbPink.jpg" alt="">
      <a href="">{{product.name}}</a>
      <div class="rating-in-stars">
        <ngb-rating [max]="5" [(rate)]="product.rating" [readonly]="true"></ngb-rating>
      </div>
      <div class="price">
        <p>Цена</p>
        <span>{{product.price}}</span>
      </div>
    </div>
  </div>
</div>
