<div class="categories-nav">
  <a href="categories/1">
    ВСЕ КАТЕГОРИИ
    <div class="all-categories">
      <a href="categories/1" *ngFor="let category of categories">
        {{category.name}} <img src="../../../assets/media/icons/right-arrow.svg" alt="">
      </a>
    </div>
  </a>
  <a  href="categories/1"
  *ngFor="let category of categories"
  >
    {{category.name}}
    <div class="all-categories">
      <a href="categories/1/subcategories/1"  *ngFor="let subCategory of category.subCategories">{{subCategory.name}} <img src="../../../assets/media/icons/right-arrow.svg" alt=""></a>
    </div>
  </a>

</div>


