<div class="categories-nav">
  <a href="/allProducts">
    ВСЕ КАТЕГОРИИ
    <div class="all-categories">
      <a href="categories/{{category[0].id}}"
         *ngFor="let category of categoryToSubCategoriesMap.entries()" >
        {{category[0].name}} <img src="../../../assets/media/icons/right-arrow.svg" alt="">
      </a>
    </div>
  </a>
  <a  href="categories/{{category[0].id}}"
  *ngFor="let category of categoryToSubCategoriesMap.entries()"
  >
    {{category[0].name}}
    <div class="all-categories">
      <a href="categories/{{category[0].id}}/subcategories/{{subCategory.id}}"  *ngFor="let subCategory of category[1]">{{subCategory.name}} <img src="../../../assets/media/icons/right-arrow.svg" alt=""></a>
    </div>
  </a>

</div>


