<div class="header-menu">
  <a  href="/basket/{{u_id}}" *ngIf="isCustomer">
    <div class="basket basket1">
      <img src="assets/media/icons/basket.svg" alt="">
      <p>Корзина</p>
    </div>
  </a>
  <div class="uss">
    <a href="" routerLink="user" class="user-menu-user">
      <img src="assets/media/icons/user.webp" alt="">
      <p>Аккаунт</p>
    </a>
    <div class="user-menu">
      <a href="/myOrders" *ngIf="isCustomer">Мои заказы</a>
      <a href="/myProducts" *ngIf="isSeller">Мои товары</a>
      <a href="/mySoldProducts" *ngIf="isSeller">Мои проданные товары</a>
      <a href="" (click)="logout()">Выйти</a>
    </div>
  </div>

</div>
