.item{
  background-color: white;
  padding: 10px 20px 20px;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  /*width: 250px;*/
  text-decoration: none;
}

.item-img{
  /*width: 50%;*/
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.item-img img{
  width: 60%;
}

.item > a{
  text-decoration: none;
  color: #00A2DC;
  transition: .4s;
  margin: 20px 0 5px 0;
}
.item > a{
  text-decoration: none;
}
.item > a:hover{
  color: #0089d0;
  text-decoration: underline;
}

.rating-in-stars ngb-rating{
  color: orangered;
  font-size: 18px;
  margin: 5px 0;
}

.item .price p{
  color: #999999;
  font-size: 16px;
  margin-bottom: 12px;
}

.price span{
  font-size: 17px;
  color: #00A2DC;
  font-weight: bold;
}
.forSeller button{
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #00A2DC;
  color: white;
}

