<div class="card w-50 container mt-5">
  <h4 class="card-header">Login</h4>
  <div class="card-body container">
    <form>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" [(ngModel)]="username" class="form-control"  />

      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" />

      </div>

      <div>
        <button (click)="login()" class="btn btn-primary">
          Login
        </button>
        <a routerLink="../registration" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>

<!--<h1 style="margin-top: 500px">work</h1>-->
