<!--<app-categories-nav></app-categories-nav>-->
<app-header></app-header>
<div class="basket-page">
  <h2>Корзина 1Market</h2>
  <div *ngIf="isEmpty">
    <div>
      <img src="assets/media/icons/empty-cart.svg" alt="">
    </div>
    <h2>Корзина пуста</h2>
    <span>Посмотрите предложения на странице товаров</span>
    <a routerLink="/category" href=""><button>На страницу товаров</button></a>
  </div>
  <div *ngIf="!isEmpty">
    <app-item-in-basket
      *ngFor="let item of products "
      [item]="item"
    ></app-item-in-basket>
  </div>
  <div class="basket-pay ssss mb-4" *ngIf="!isEmpty">
    <h2>Общая сумма:</h2>
    <p>1500тг</p>

      <textarea class="w-75" placeholder="Введите адрес доставки" name="" id="" cols="30" rows="3"></textarea>
    <label>
      Выберите день для получения доставки:
      <input type="date" name="party" min="2023-04-23" max="2023-04-30" />
    </label>
    <button class="btn">Заказать</button>
  </div>
</div>

