<app-header></app-header>
<div class="basket-page">
  <h2>Мои товары 1Market</h2>
  <div *ngIf="isEmpty">
    <div>
      <img src="assets/media/icons/empty-cart.svg" alt="">
    </div>
    <h2>Вы еще не тобавили товаров с свой каталог!</h2>
    <span>Посмотрите предложения на странице товаров</span>
    <a  href="/categories/1"><button>На страницу товаров</button></a>
  </div>
  <div *ngIf="!isEmpty">
    <app-item-in-seller-products
      *ngFor="let item of products "
      [item]="item"
    ></app-item-in-seller-products>
  </div>

</div>
